<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Flask App</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet"/>
    <!-- CSS -->
    <link href="static/demo/demo.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<style>
  form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.main {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.sub {
  display: inline-block;
  border: 1px solid grey;
  padding: 1rem 1rem;
  vertical-align: middle;
}





</style>
<body>
<div class="navbar">
    <h2></h2>
</div>
<hr>
<input class="hidden" type="hidden" name="filename" value={{filename}}>
<div class="container">
    <h2>Flask App - SILPA VG(1001989441)</h2>
    <div class="card" style="width:400px">
        <div class="card-body ">
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <p class="card-text">Choose an image </p>
                <label for="name_to_upload">Enter name: </label>
                <input type="text" id="name_to_upload" name="name_to_upload"><br><br>
                <input type="file" name="file" value="file">
                <hr>
                <input type="submit" name="upload" value="Upload" class="btn btn-success">
            </form>
            {{msg}}
            <input class="hidden"  type="hidden"  name="filename" value={{filename}}>
        </div>
    </div>
      {% if people_dict is defined %}
    <div>
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Grade</th>
                <th>Room</th>
                <th>Salary</th>
                <th>Telnum</th>
                <th>Picture</th>
                <th>Keywords</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in people_dict.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value.State }}</td>
                <td>{{value.Grade}}</td>
                <td>{{value.Room}}</td>
                <td>{{value.Salary}}</td>
                <td>{{value.Telnum}}</td>
                <td>{{value.Picture}}</td>
                <td>{{value.Keywords}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <br>
<div class='main'>
        <div class="sub">
            <form class="search" action="/searchpeople" method="GET" enctype="multipart/form-data"
                  style="margin:auto;max-width:400px">
                <input type="text" placeholder="Enter the name to search.." name="search_people">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div>
     {% if person_data is defined %}
    <div class="sub">
        <img src={{person_data.Picture }} alt="Avatar" style="width:40%">
        <div class="container">
            <h4><b>{{person_data.Name}}</b></h4>
            <p>{{person_data.Salary}}</p>
            <p>{{person_data.Keywords}}</p>
        </div>
    </div>
    {% endif %}
        </div>
</div>
 <div class="main">
    <div class="sub1">
      <form class="findpeoplewithsalary" action="/findpeoplewithsalary" method="GET" enctype="multipart/form-data"
              style="margin:auto;max-width:300px">
            <input type="text" placeholder="Enter Salary Range to search" name="findpeoplewithsalary">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
     </div>
 <div class="sub1">
   {% if peoplearr is defined %}
     {% for item in peoplearr %}
       <h4><b>{{item.Name}}</b></h4>
        <img src={{item.Picture}} alt="Avatar" width="100" height="150">
      {% endfor %}
   {% endif %}
 </div>
 </div>
 <div class="main">
    <div class="sub">
            <form class="updatekey" action="/updatekey" method="GET" enctype="multipart/form-data"
                  style="margin:auto;max-width:400px">
                <div><input type="text" placeholder="Enter the name to update key" name="nametoupdate"></div>
                <div><input type="text" placeholder="Enter the new keyword" name="updatekey"></div>
                <button type="submit"><b>Update Keyword</b></button>
            </form>
        </div>
     <div class="sub">
            <form class="deleteentry" action="/deleteentry" method="GET" enctype="multipart/form-data"
                  style="margin:auto;max-width:400px">
                <input type="text" placeholder="Enter the name to update key" name="nametodelete">
                <button type="submit"><b>Delete Person</b></button>
            </form>
        </div>
      <div class="sub">
            <form class="deleteentry" action="/updatesalary" method="GET" enctype="multipart/form-data"
                  style="margin:auto;max-width:400px">
                <div><input type="text" placeholder="Enter the name to update salary" name="nameupdated"></div>
                <div><input type="text" placeholder="Enter the new salary" name="updatesalary"></div>
                <button type="submit"><b>Update Salary</b></button>
            </form>
        </div>
 </div>

</div>
</body>
</html>